<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>MyBookTrail</title>
</head>

<body class="index-background">
    <nav class="appbar">
        <div class="logo">MyBookTrail</div>
    </nav>

    <div class="text-box" style="padding: 20px;">
        <h1>Welcome to Your Library!</h1>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        </h1>
        <p>
            Here you will embark on a literary journey tailored just for you.<br>
            Start curating your personal book list today,
            showcasing the titles you've read and loved.<br>
            Let us help you keep track of your reading adventures and discover new favorites along the way.
        </p>
        <a href="home.html" class="hero-btn">Start My Trail</a>
    </div>
</body>

</html>